@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

input {
  font-family: 'Montserrat', sans-serif;
  width: 450px;
  height: 39px;
  padding: 10px;
  align-items: center;
  border-radius: 11px;
  border: 1px solid  #E6E6EB;
}
ul{
  list-style: none;
}
